apiVersion: v1
kind: ConfigMap
metadata:
  name: {{APP_NAME}}-values-base
  namespace: {{APP_NAME}}-staging
data:
  values.yaml: |
    appName: "{{APP_NAME}}"
    logLevel: info
    
    discord:
      clientId: "{{DISCORD_CLIENT_ID}}"
    
    serviceAccount:
      create: true
      annotations:
        iam.gke.io/gcp-service-account: "{{APP_NAME}}-staging@{{GCP_PROJECT}}.iam.gserviceaccount.com"
    
    secrets:
      gsm:
        enabled: true
        projectId: "{{GCP_PROJECT}}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{APP_NAME}}-values-staging
  namespace: {{APP_NAME}}-staging
data:
  values.yaml: |
    environment: staging
    logLevel: info
    
    bot:
      replicaCount: 1
    
    api:
      replicaCount: 1
    
    dashboard:
      replicaCount: 1
      hostname: "staging.{{DOMAIN}}"
      url: "https://staging.{{DOMAIN}}"
    
    gateway:
      clusterIssuer: letsencrypt-staging
    
    postgresql:
      enabled: true
      primary:
        persistence:
          size: 5Gi
    
    redis:
      enabled: true
      master:
        persistence:
          size: 1Gi