apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-config
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  APP_NAME: {{ .Values.appName | quote }}
  LOG_LEVEL: {{ .Values.logLevel | quote }}
  DISCORD_CLIENT_ID: {{ .Values.discord.clientId | quote }}
  {{- if .Values.discord.guildId }}
  DISCORD_GUILD_ID: {{ .Values.discord.guildId | quote }}
  {{- end }}
  API_SERVICE_URL: "http://{{ include "app.fullname" . }}-api:{{ .Values.api.service.port }}"
  DASHBOARD_URL: {{ .Values.dashboard.url | quote }}